article.home {
    margin: 0 -15px;
    font-family: 'MuseoSansCyrl 300',sans-serif;
    padding-bottom: 25px;
    span {
        display: block;
        margin-bottom: 20px;
        &.about {
            color: #B51A1A;
            font-style: italic;
            font-weight: 600;
        }
    }
    ul {
        list-style-type: disc;
        padding-inline-start: 27px;
        li {
            line-height: 25px;
            margin-bottom: 10px;
        }
    }
    strong {
        font-weight: 600;
    }
    .home-f {
        background-color: rgb(204,247,183);
        padding: 20px;
        position: relative;
        .text-h1 {
            border: 2px solid rgba( 255,255,255, 0.2);
            background: rgba( 255,255,255, 0.68);
            padding: 15px;
            border-radius: 18px;
            width: 100%;
            max-width: 542px;
            font-size: 19px;
            color: #005095;
            font-weight: 300;
        }
        .image1 {
            width: 100%;
            height: 200px;
            background-image: url('./images/im1.png');
            background-repeat: no-repeat;
            margin-top: -24px;
            background-position-x: 26px;
            background-size: contain;
            font-size: 1px;
        }
        .image2{
            width: 555px;
            height: 555px;
            background-image: url('./images/im2.png');
            background-repeat: no-repeat;
            position: absolute;
            right: 0;
            font-size: 1px;
            bottom: 37px;
            background-size: contain;
            @media ( max-width: 780px) {
                display: none;
            }
            span {
                display: none;
            }
        }
        .text-h2{
            display: none;
        }
    }

    @media( max-width: 570px ) {
        .home-f {
            background-color: rgb(229,246,220);
            background-image: url('./images/bgg1.png');
            background-repeat: no-repeat;
            background-position: bottom right;
            background-size: cover;
            min-height: 400px;
            display: flex;
            .text-h1 { display: none;}
            .image1{ display: none ;}
            .text-h2{
                display: block;
                padding-top: 72px;
                max-width: 60%;
                line-height: 25px;
                color: #005095;
            }
        }
        
    }

    .home-mf {
        display: none;
        padding: 15px;
        background-color: #98da7a;
        margin-top: -52px;
        z-index: 1000;
        position: relative;
        color: #005095;
        .text-h3{
            border: 2px solid rgba(255,255,255,0.2);
            background: rgba(255,255,255,0.68);
            padding: 15px;
            border-radius: 18px;
            width: 100%;
            max-width: 500px;
            font-size: 19px;
            text-align: left;
        }
        @media( max-width: 570px ) {
            display: block;
        }
    }

    .home-ds {
        background-color: #ccf7b7;
        padding: 0 20px;
        color: #005095;
        font-size: 16px;
        font-weight: 300;
        span.ds-text {
            border: 2px solid rgba(255,255,255,0.2);
            background: rgba(255,255,255,0.68);
            padding: 15px;
            border-radius: 18px;
            line-height: 22px;
            margin: 0;
        }
        span.hm-phone{
            margin-bottom: 0;
        }
        @media( max-width: 570px ) {
            background-color: #98da7a;
            
            > span {
                border: 0;
                background: none;
                text-align: center;
            }
        }
    }

    .home-ms {
        background: linear-gradient(180deg, rgba(204,247,183,1) 0%, rgba(233,205,187,1) 100%);
        height: 40px;
        width: 100%;
        font-size: 1px;
        @media( max-width: 570px ) {
            background: linear-gradient(180deg, #98da7a 0%, rgba(233,205,187,1) 100%);
        }
    }
    .home-mline0 {
        background-color: #e9cdbb;
        padding: 15px;
        text-align: center;
        color: #2F1005;
        line-height: 23px;
        display: none;
        @media (max-width: 620px) {
            display: block;
        }
    }
    .home-mline1{
        display: flex;
        justify-content: space-between;
        background-color: #e9cdbb;
        .hm-image1 {
            background-image: url('./images/hm1.png');
            flex: 1;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            font-size: 1px;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 30px;
                background-color: rgba(233, 205, 187, 0.72);
            }
        }
        .hm-image2 {
            background-image: url('./images/hm2.png');
            background-position: center;
            flex: 1;
            background-size: cover;
            background-repeat: no-repeat;
            font-size: 1px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 30px;
                background-color: rgba(233, 205, 187, 0.72);
            }
        }
        .center-content {
            width: 270px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            min-height: 560px;
            padding-bottom: 60px;
            span {
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
                color: #2F1005;
                text-align: center;
                padding-top: 40px;
            }
            .logo2 {
                background-image: url('./images/logo2.png');
                background-position: center;
                background-repeat: no-repeat;
                font-size: 1px;
                width: 100%;
                height: 230px;
                background-size: contain;
            }
        }
        @media ( max-width: 620px ) {
            .hm-image2 {
                display: none;
            }
            .hm-image1 {
                order: 2;
                &::before {
                    right: auto;
                    left: 0;
                }
            }
            .center-content {
                order: 1;
                width: 50%;
                padding: 10px;
                min-height: 0;
                span {
                    display: none!important;
                }
                .logo2 {
                    min-height: 400px;
                }
            }
        }

    }

    .hblock1{
        a {
            display: inline;
            font-weight: 600;
        }
        padding: 15px;
        background-color: #E7C4AE;
        color: #81665D;
        padding-bottom: 8px;
        .inner {
            border: 2px solid rgba(0,0,0,0.2);
            border-radius: 18px;
            background-color: rgba(255,255,255,0.68);
            padding: 20px 30px;
            font-weight: 300;
            text-align: left;
        }
        @media ( max-width: 570px ) {
            background-color: rgb(233,205,187);
            .inner {
                border: 0;
                background: none;
                padding: 0;
            }
        }
    }

    .hblock2 {
        font-weight: 300;
        background-color: #E7C4AE;
        color: #81665D;
        display: flex;
        padding: 8px 15px;
        align-items: center;
        .inner {
            flex: 1;
            padding-left: 15px;
            display: flex;
            align-items: center;
            text-align: left;
        }
        .promo {
            display: flex;
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            padding: 15px;
            max-width: 210px;
            width: 50%;

            .promo-logo {
                width: 70px;
                height: 70px;
                background-image: url('./images/logo3.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                font-size: 1px;
            }
            .promo-left {
                flex: 1;
                padding-right: 10px;
                >span {
                    margin: 0;
                }
                .pl1 {
                    color: #D21929;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-bottom: 3px;
                }
                .pl2 {
                    color: #5E5E5E;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 14px;
                    margin-bottom: 3px;
                }
                .pl3 {
                    background-color: #fff;
                    height: 23px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 600;
                    font-size: 18px;
                    color: #000;
                    margin-bottom: 3px;
                }

            }
        }
        @media( max-width: 570px ) {
            flex-direction: column;
            padding: 15px;
            .promo {
                width: 100%;
                max-width: 350px;
                .promo-left {
                    max-width: 200px;
                }
            }
            .inner {
                padding-left: 0;
                padding-top: 15px;
            }
        }
    }

    .hblock3 {
        padding: 15px;
        background-color: #E7C4AE;
        color: #81665D;
        padding-bottom: 8px;
        .inner {
            border: 2px solid rgba(0,0,0,0.2);
            border-radius: 18px;
            background-color: rgba(255,255,255,0.68);
            padding: 20px 30px;
            line-height: 23px;
            text-align: left;
        }
        span {
            margin-bottom: 0;
        }
        @media ( max-width: 570px ) {
            background-color: rgb(233,205,187);
            .inner {
                border: 0;
                background: none;
                padding: 0;
            }
        }
    }
}