.input_group {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    input {
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        border: 1px solid #cccccc;
        border-radius: 4px;
        outline: 0;
    }
    button, input[type="submit"] {
        display: block;
        margin: 0;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        border-radius: 4px;
        color: #00366e;
        background: #ffe600;
        margin-left: 10px;
    }
    @media( max-width: 500px ) {
        flex-direction: column;
        input, button {
            width: 100%;
            margin: 15px 0 0 0!important;
        }
    }
}