.header {
    padding: 40px 0;
    .link-logo {
        background-image: url('./images/logo1.png');
        height: 70px;
        width: 190px;
        display: block;
        text-decoration: none;
        background-repeat: no-repeat;
    }
}