<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>mytoys</title>
    </head>
    <body>
        
        <div class="wrapper">

            <%= require('html-loader!./html/header.html').default %>

            <div class="content">

                <%= require('html-loader!./html/home.html').default %>
                <%= require('html-loader!./html/returns.html').default %>
                <%= require('html-loader!./html/tracker.html').default %>
                <%= require('html-loader!./html/contacts.html').default %>
                <%= require('html-loader!./html/privacypolicy.html').default %>
                <%= require('html-loader!./html/security.html').default %>

            </div>

            <%= require('html-loader!./html/footer.html').default %>

        </div>

    </body>
</html>